<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187089727378-r4b096g2budujlnq78n6rfollurt85dl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187089727378-r4b096g2budujlnq78n6rfollurt85dl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>187089727378-5coep16ovl0tn9lsvq1661m1hig7tpgu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArrodLnXL7dHJHi5bHZ7H2SbsAmP8XQAg</string>
	<key>GCM_SENDER_ID</key>
	<string>187089727378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inpaket.store</string>
	<key>PROJECT_ID</key>
	<string>ubberflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>ubberflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187089727378:ios:561baad1581de6f1e41b4b</string>
	<key>DATABASE_URL</key>
	<string>https://ubberflutter-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>